.calendar {
  width: 98rem;
  min-height: calc(100vh - 8rem);
  position: relative;
  /* box-shadow: 0 0 10px lightgray; */
}

.container {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.calendar .container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container table {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.yoil {
  color: #687074;
  cursor: default;
  font-size: 3rem;
  line-height: 3rem;
}

.yoil td:nth-of-type(1) {
  color: rgba(218, 117, 112);
}

.left_button {
  position: absolute;
  top: 22px;
  left: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
}

.right_button {
  position: absolute;
  top: 22px;
  right: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
}

.left {
  font-size: 1.5rem;
  padding: 7px 10px;
  border-radius: 50%;
}

.right {
  font-size: 1.5rem;
  padding: 7px 10px;
  border-radius: 50%;
}

.left:hover,
.right:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 120ms all ease-in;
}

.table {
  border-collapse: collapse;
}

.date_row td {
  position: relative;
  width: 14.709rem;
  min-height: 2.4rem;
  overflow: hidden;
  line-height: 2.6rem;
  font-weight: 500;
  cursor: pointer;
  color: #2c3e50;
  transition: 160ms all ease-in-out;
}

.date_row tr {
  height: fit-content;
}

.date_row td:nth-of-type(1) {
  color: rgba(218, 117, 112);
}

.date_box {
  width: calc((98rem / 7) + 1);
  min-height: calc((100vh - 8rem) / 6);
  font-size: 1.6rem;
  border: 1px solid rgba(242, 242, 242);
  margin: -1.5px;
}

.add_plan_container {
  position: absolute;
  top: 2.4rem;
  right: 5rem;
}

.add_plan_button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.8rem;
  background-color: white;
}

.add_plan_button span {
  font-size: 1.5rem;
  margin: 0 0.4rem;
}

.add_plan_icon {
  font-size: 1.4rem;
  margin: 0 0.4rem;
}

.add_plan_button:hover {
  background-color: rgba(245, 245, 245);
}

.plan {
  position: absolute;
  z-index: 1 !important;
  width: calc(100% + 2px);
  height: 2rem;
  color: white;
  margin: 0.2rem 0;
}

.plan span {
  font-size: 1.4rem;
  line-height: 2rem;
  overflow: hidden;
}

.start {
  border-radius: 0.4rem 0 0 0.4rem;
}

.end {
  width: 100%;
  border-radius: 0 0.4rem 0.4rem 0;
}

.start.end {
  border-radius: 0.4rem;
}

/* 
@media screen and (max-width: 768px) {
  .calendar {
    width: 100%;
    height: auto;
  }

  .next {
    display: none;
  }

  .container {
    width: 350px;
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
} */

@keyframes appear {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(15px);
  }
}
