.title {
  font-family: "Lobster", sans-serif;
  font-size: 4rem;
  margin-bottom: 40px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.locker {
  font-size: 1.6rem;
}

.body h1 {
  font-size: 3.2rem;
  margin: 2.144rem 0;
}

.body h2 {
  font-size: 2.4rem;
  margin: 1.992rem 0;
}

.p {
  font-size: 1.6rem;
  margin: 1.6rem 0;
}

.container {
  width: 44rem;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  background: #fff;
  border: 1px solid #e8e8e8;
  text-align: center;
  margin-top: 70px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 45px;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #000;
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  font-size: 1.6rem;
}

.button {
  height: 40px;
  margin: 23px 0;
  color: #fff;
  background-color: rgba(147, 186, 112);
  border-radius: 5px;
  border: 1px solid;
  font-size: 1.92rem;
  line-height: 1;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.p {
  color: #737373;
}
