.header {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  background-color: white;
}

.logo {
  height: 7.2rem;
  margin: 0.4rem 1rem;
}

.button_container {
  margin-left: 7rem;
}
