.header {
  width: 144rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  background-color: white;
  margin: auto;
}

.title {
  font-family: "Lobster", sans-serif !important;
  font-size: 4rem;
  margin-left: 1.6rem;
}

.button_container {
  margin-left: 7rem;
}
