.middle {
  width: 98rem;
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

.middle {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.middle::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
