.right {
  position: relative;
  width: calc(23rem + 0.5px);
  height: calc(100vh - 8rem);
  border-left: 1px solid rgba(214, 214, 214);
  overflow-y: scroll;
  z-index: 2;
}

.right {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.right::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.top {
  position: relative;
  border-top: 2px solid rgba(32, 32, 32, 0.8);
  border-bottom: 2px solid rgba(32, 32, 32, 0.8);
  padding: 0.8rem 1.4rem 0.2rem 1.4rem;
  background-color: rgb(249, 249, 249);
}

.top p {
  font-size: 1.7rem;
  color: rgba(87, 87, 87, 0.8);
}

.button {
  position: absolute;
  right: 1.4rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
}

.top button:hover {
  background-color: rgba(32, 32, 32, 0.2);
}

.icon {
  font-size: 1.4rem;
}

.top_title {
  text-align: end;
}
