.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8rem 0;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.item:hover {
  background-color: rgba(245, 245, 245);
}

.item span {
  font-size: 1.5rem;
}

.checkbox {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(32, 32, 32, 0.5);
  border-radius: 0.4rem;
  margin-right: 2rem;

  text-align: center;
  line-height: 2.2rem;
}

.checked {
  border: 1px solid rgba(245, 245, 245);
}

.checked_icon {
  font-size: 1.4rem;
  color: white;
}
