.checkbox {
  width: 1rem;
  height: 1rem;
  background-color: white;
  margin-left: 0.5rem;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked {
  width: 100%;
  height: 100%;
  background-color: white;
}

.checked_icon {
  font-size: 1rem;
  padding-right: 0.2rem;
  background-color: white;
  border-radius: 0.1rem;
}
