.title {
  font-family: "Lobster", sans-serif;
  font-size: 4rem;
  margin-bottom: 40px;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  background: #fff;
  border: 1px solid #e8e8e8;
  text-align: center;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.input_with_button {
  width: 20.85rem;
  height: 45px;
  padding: 0 1rem 0 2rem;
  margin: auto;
  margin-bottom: 10px;
  color: #000;
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form input {
  outline: none;
  width: 20.85rem;
  height: 45px;
  padding: 0 20px;
  margin-bottom: 10px;
  color: #000;
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  font-size: 1.6rem;
}

.input_with_button input {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-right: 0.8rem;
}

.input_with_button button {
  font-size: 1.3rem;
  width: 5rem;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  background-color: rgba(190, 217, 166);
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
}

.submit_button {
  height: 40px;
  margin: 23px 0;
  color: #fff;
  background-color: rgba(147, 186, 112);
  border-radius: 5px;
  border: 1px solid;
  font-size: 1.92rem;
  line-height: 1;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.radio_con1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
}
.form_radio_btn {
  width: 47%;
  height: 45px;
  border: 1px solid #eae7e7;
  border-radius: 10px;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  font-size: 1.6rem;
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  height: -webkit-fill-available;
  line-height: 45px;
  cursor: pointer;
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label {
  background: rgba(190, 217, 166);
  color: #fff;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type="radio"] + label {
  background: #f9fafc;
  color: #666;
}
